<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
    <div class="modal-content">
	
			<div class="modal-header">
				<div class="row">
					<div class="col-md-12">
						<i class='fa fa-question-circle'></i>
						HELP
					</div>
				</div>
			</div>
			<div class="modal-body" style="padding-bottom:40px;">
				<div class="row">
					<div class="col-md-2">
						<strong>Organizations:</strong>
					</div>
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-12">
								Top level nodes containing buckets, resources, and tweets.
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<small>ACTIONS: Create, Delete</small>
							</div>
						</div>
					</div>
				</div>
				<hr class="blue-hr">
				<div class="row">
					<div class="col-md-2">
						<strong>Buckets:</strong>
					</div>
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-12">
								Belong to an organization and provide a means to compartmentalize resources. (an example could be a news source, "Education Week")
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<small>ACTIONS: Create, Edit, Delete</small>
							</div>
						</div>
					</div>
				</div>
				<hr class="blue-hr">
				<div class="row">
					<div class="col-md-2">
						<strong>Resources:</strong>
					</div>
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-12">
								Articles, blog posts, or other content from the web (url required).
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<small>ACTIONS: Create, Delete, Archive, Mark as Read</small>
							</div>
						</div>
					</div>
				</div>
				<hr class="blue-hr">
				<div class="row">
					<div class="col-md-2">
						<strong>Tweets:</strong>
					</div>
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-12">
								122 (maximum) character long pieces of text that are associated with a resource.
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<small>ACTIONS: Create, Edit, Delete, Approve, Send</small>
							</div>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</div>
</div>