<div id="<%= bucket.id %>-bucket">
	<div class="row">
		<div class="col-md-12" style="margin-bottom:10px;">
			<%= link_to bucket.name, organization_bucket_resources_path(@organization, bucket) %>
			<%= link_to [@organization, bucket], method: :delete, class: "grey-link", data: { confirm: 'Are you sure?' } do %>
			  <i class='fa fa-trash'></i>
			<% end %>
		</div>
	</div>
</div>