<div class="modal" id="newTimesheetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    <div class="modal-content">
			<div class="modal-header">
				New Timesheet:
			</div>
			<div class="modal-body">
				<%= render "timesheets/form", timesheet: @timesheet %>
			</div>

		</div>
	</div>
</div>