<div id="<%= resource.id %>-resource">
	<div class="row">
		<div class="col-md-12" style="margin-bottom:10px;">
			<%= link_to resource.extraction.title, [@organization, @bucket, resource] %>
			<%= link_to [@organization, @bucket, resource], method: :delete, class: "grey-link", data: { confirm: 'Are you sure?' } do %>
			  <i class='fa fa-trash'></i>
			<% end %>
		</div>
	</div>
</div>