$linkColor: #686868;
@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Nunito:400,700');
@import url('//fonts.googleapis.com/css?family=Slabo+27px');
@import url('//fonts.googleapis.com/css?family=Crafty+Girls');
//@import "bootstrap-responsive";

/* MIXINS */

@mixin rounded_borders {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
}

/* Colors, Misc */

$beige: #EFEDE2;
$white: #ffffff;
$black: #000000;
$salmon: #D27D66;
$turquoise: #5BD195;
$turquoise_dark: #4CAF7D;
$orange: rgb(251,185,11);
$orange2: #ffcc11;
$orange3: #ffc414;
$blue: rgb(23, 54, 93);
$blue_light: #BFD1FF;
$blue_green: #6DD0CE;
$grey_dark: #686868;
$grey_light: rgb(213, 215, 214);
// Others:
$green: #7CC75C;
$green_dark: #65A24B;
$grey: #DBDBDB;
$yellow: #E3D423;
$yellow_light: #eff2b9;
$header_background: white;
$link_color: $blue;
$red: #C15248;
$fb_color: #3B5998;
$tw_color: #4099FF;
$gp_color: #d34836;

// From the new Style Guide
$dark_blue: #0f294a;
$light_orange: #ffc62c;
$body_grey: #4a4a4a;

@mixin rounded_border {
	 -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	         border-radius: 5px;
}
@mixin really_rounded_border {
	 -webkit-border-radius: 15px;
	    -moz-border-radius: 15px;
	         border-radius: 15px;
}
@mixin add_transition {
	-o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  /* ...and now for the proper property */
  transition:.4s;
}

.beige { color: $beige;}
.salmon { color: $salmon; a { color: $salmon; }}
.turquoise {color: $turquoise;}
.turquoise_dark {color: $turquoise_dark;}
.white {color: white;}
.green {color: $green;}
.green a {color: $green;}
.green-dark {color: darken($green, 10%);}
.yellow {color: $yellow;}
.orange {color: lighten($orange, 10%);}
.orange-dark {color: darken($orange, 8%);}
.red {color: $red;}
.blue-light { color: $blue_light;}
.blue {color: $blue;}
.black {color: black;}
.grey {color: $grey;}
.grey-dark {color: $grey_dark;}
.fb-color {color: $fb_color;}
.tw-color {color: $tw_color;}
.gp-color {color: $gp_color;}
.red-background { background: $red; }
.green-background { background: $green_dark; }
.orange-background { background: $orange; }

.blue-hr {
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
}
.grey-hr {
  border-bottom: 1px solid $grey_dark;
}
/* Universal */
html,body { 
  padding:0px;
  margin:0px;
}
body {
  color: $body_grey;
	background: $grey;
}
#main {
	min-height:600px;
	background:$beige;
//	background: image-url("plane_beige.png") 
}
h1, h2, h3, h4, h5, h6, p { font-family: 'Nunito', sans-serif; }
h1 { color: $dark_blue; }
h4 { line-height: 1.2em; }
p { margin-bottom: 20px; font-weight: normal;}

.zero-height { height: 0px; }
.inline { display: inline; }
.huge { font-size: 500%; line-height: 100%; }
.large {font-size: 375%;}
.bigger {font-size: 200%;}
.big {font-size: 150%;}
.heavy {font-size: 130%;}
.regular {font-size:100%;}
.smaller {font-size: 90%;line-height: 130%;}
.small {font-size: 80%;line-height: 120%;}
.tiny {font-size: 30%;line-height: 120%;}
.hr-top-bottom {margin-top:40px;margin-bottom:15px;}
.no-right-margin { margin-right: 0px; }
.no-left-margin { margin-left: 0px; }
.no-top-margin { margin-top: 0px; }
.no-bottom-margin { margin-bottom: 0px; }
.no-margin { margin: 0; }
.small-top-margin {margin-top:10px;}
.small-right-margin { margin-right:5px; }
.small-bottom-margin { margin-bottom:10px; }
.smaller-bottom-margin { margin-bottom:2px; }
.small-left-margin { margin-left:10px; }
.small-margin { margin-top:3px; margin-bottom:3px; }
.right-margin { margin-right:3px; }
.bottom-margin { margin-bottom: 20px; }
.top-margin { margin-top:20px; }
.top-margin-small { margin-top:10px; }
.top-margin-tiny { margin-top:5px; }
.bottom-margin-small { margin-bottom:10px; }
.no-top-border { border-top:none;}
.indent { margin-left: 17px;}
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.pointer { cursor: pointer; }
.no-pointer { cursor: auto; }
.no-decoration {
	text-decoration: none;
	&:hover {text-decoration: none;}
	a {text-decoration: none;}
	a:hover {text-decoration: none;}
}
.left-border { border-left: 1px solid black;}
.underline { text-decoration: underline; }
.small-padding { padding: 10px; }
.side-padding { padding: 0px 3px;}
.top-padding {padding-top:60px;}
.no-bottom-padding { padding-bottom: 0px;}
.no-padding {padding:0px;}
.well {
	background: white;
//	border: 1px dotted $grey_dark;
	box-shadow: none;
}
.well.darken {background: lighten($grey_light, 15%);}
.shadow {box-shadow: 3px 3px 2px #888888;}
.span1minus30 { width: 30px; }
.span5plus20 {width: 400px;}
.no-height {height: 0px;}
.col-md-12input {display:none;}
.namey {display:none;}
.transparent {
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.datepicker {
	z-index: 2000;
}
#logo {
	font-size: 230%;
	font-weight: bold;
}

.tweet {
	padding:5px 10px;
	margin-bottom:10px;
	border: 1px solid $blue;
	@include rounded_border;
	margin-bottom: 15px;
}
.tweet_resource_tag {
	background:white; 
	border: 1px solid $blue;
	@include rounded_border; 
	width: 2.5em;
	padding:2px 4px;
	margin-right: 5px;
}
.tweet_resource_tag.corner {
	position:relative;
	top:-.8em;
	left: -5px;
	z-index:5;
}

.approved-background {
	background: $blue_light;
}

.tweet.active {
	background: $blue_light;
}
.tweet.sent {
	background: lighten($green, 20%);
}
.tweet.grey-background { background: darken($grey, 10%); }
.tweet-copy {
	color: $green; 
}

#organizations {
	padding:10px;
}
.article_body {
	font-size: 130%;
	weight: 200;
	border: 1px solid $blue;
	@include rounded_border;
	padding: 10px;
}

a.grey-link {
	color:darken($grey, 10%);
	&:hover {text-decoration:none;color: $grey_dark;}
}
a.grey-link-dark {
	color: $grey_dark;
	&:hover {text-decoration:none;color: darken($grey_dark, 10%);}
}

.btn-success-hover {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-success-hover:hover,
.btn-success-hover:focus,
.btn-success-hover.focus,
.btn-success-hover:active,
.btn-success-hover.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: $green;
  border-color: #4cae4c;
}
.btn-info-hover {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-info-hover:hover,
.btn-info-hover:focus,
.btn-info-hover.focus,
.btn-info-hover:active,
.btn-info-hover.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-danger-hover {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-danger-hover:hover,
.btn-danger-hover:focus,
.btn-danger-hover.focus,
.btn-danger-hover:active,
.btn-danger-hover.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}