<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<div class="row">
					<div class="col-md-12">
						<strong>Organizations</strong>
					</div>
				</div>
				<hr class="blue-hr">
				<div id="organizations">
					<div class="row">
						<div class="col-md-12">
							<%= render @organizations %>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6">
							<div id="organization-form" style="display:none;"><%= render "organizations/form" %></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="center">
								<%= link_to "#", id: "new-organization" do %>
									<i class="fa fa-plus-circle" style="font-size:200%; margin-top:10px;"></i>
								<% end %>
								<a href="#" class="grey-link">
									<i class="fa fa-minus-circle" id="cancel-organization" style="font-size:200%; margin-top:10px;display:none;"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>