<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "Organizations", root_path %>
			/
			<%= link_to @organization.name, organization_buckets_path(@organization) %>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<h3><%= @organization.name %></h3>
				<% @organization.buckets.each do |bucket| %>
					<div class="row">
						<div class="col-md-12"><%= link_to bucket.name, [@organization, bucket] %></div>
					</div>
				<% end %>
				
			</div>
		</div>
	</div>
</div>