<%= form_for [@organization, @contributor] do |f| %>
	<div class="row">
		<div class="col-md-12 small-bottom-margin">
			<%= f.text_field :name, placeholder: "Enter name here...", autocomplete: :off, required: true, autofocus: true %>
			<%= f.submit "Create", data: { disable_with: "Creating..." }, class: "btn btn-default" %>
		</div>
	</div>
<% end %>
